{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <table>
        <tr>
            <td>Name: </td>
            <td><input type=text size=30 name=pname></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type=text  name=page></td>
        </tr>
        <tr>
            <td>Select seat:</td>
            <td>
                <select name=pseat>
                    {% for entry in entries %}
                    <option value="{{ entry.seat }}">Train: {{ entry.train }}, Seat: {{ entry.seat }}, Price: {{ entry.price }}</option>
                    {% else %}
                    <option disabled> No tickets available.</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type=submit value="Proceed to Payment">
            </td>
        </tr>
      </dl>
    </form>
  {% endif %}
{% endblock %}
